body {
    background-color: rgb(190, 190, 190);
    margin: 0;
}
.top {
    margin: 0;
    border:0;
    background-color: rgb(87, 74, 74);
    padding: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h3 {
    color: aliceblue;
    padding-left: 30px;
}
form {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
}
form p {
    margin-top: -10px;
}
form #image {
    overflow: scroll;
    max-width: 250px; 
}
button {
    color:rgb(236, 223, 223);
    background-color:rgb(87, 74, 74);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background-color:rgb(41, 35, 35);
}
.fa {
    padding: 5px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;   
}
a:hover {
    color: rgb(27, 29, 29);
}
/* Copyright */
footer {
    background-color: rgb(87, 74, 74);
    position: static;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
}
.copyright {
    font-size: 12px;
    margin-left: 5px;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}